<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76498434846-235i270tife9v78kfanfds2jtil0e58h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76498434846-235i270tife9v78kfanfds2jtil0e58h</string>
	<key>API_KEY</key>
	<string>AIzaSyBUTEgHQJU6pm9Q2LpH3QdvdPqYyQDVA9g</string>
	<key>GCM_SENDER_ID</key>
	<string>76498434846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kebabdostavka</string>
	<key>PROJECT_ID</key>
	<string>kebabdostavka-94118</string>
	<key>STORAGE_BUCKET</key>
	<string>kebabdostavka-94118.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76498434846:ios:591a87c1a9dedeee1be70f</string>
</dict>
</plist>